.DS_Store
optimhelp.Rproj
*.tar.gz
.Rproj.user
.Rhistory
.RData
.Ruserdata

klava\.Rcheck/00_pkg_src/klava/DESCRIPTION

klava\.Rcheck/00_pkg_src/klava/inst/dat/2cmtA\.RDS

klava\.Rcheck/00_pkg_src/klava/inst/script/data\.R

klava\.Rcheck/00_pkg_src/klava/man/apply_trans\.Rd

klava\.Rcheck/00_pkg_src/klava/man/as_par\.Rd

klava\.Rcheck/00_pkg_src/klava/man/fit_nl\.Rd

klava\.Rcheck/00_pkg_src/klava/man/get_trans\.Rd

klava\.Rcheck/00_pkg_src/klava/man/graft\.Rd

klava\.Rcheck/00_pkg_src/klava/man/parset_add\.Rd

klava\.Rcheck/00_pkg_src/klava/man/parset\.Rd

klava\.Rcheck/00_pkg_src/klava/man/quick_par\.Rd

klava\.Rcheck/00_pkg_src/klava/man/trans\.Rd

klava\.Rcheck/00_pkg_src/klava/MD5

klava\.Rcheck/00_pkg_src/klava/NAMESPACE

klava\.Rcheck/00_pkg_src/klava/R/AAAA\.R

klava\.Rcheck/00_pkg_src/klava/R/classes\.R

klava\.Rcheck/00_pkg_src/klava/R/fit\.R

klava\.Rcheck/00_pkg_src/klava/R/ofv\.R

klava\.Rcheck/00_pkg_src/klava/R/optimhelp\.R

klava\.Rcheck/00_pkg_src/klava/R/parlist\.R

klava\.Rcheck/00_pkg_src/klava/R/utils\.R

klava\.Rcheck/00_pkg_src/klava/README\.md

klava\.Rcheck/00_pkg_src/klava/README\.Rmd

klava\.Rcheck/00_pkg_src/klava/test\.R

klava\.Rcheck/00_pkg_src/klava/tests/testthat\.R

klava\.Rcheck/00_pkg_src/klava/tests/testthat/test-parset\.R

klava\.Rcheck/00_pkg_src/klava/wrap\.R

klava\.Rcheck/00check\.log

klava\.Rcheck/00install\.out

klava\.Rcheck/klava-Ex\.pdf

klava\.Rcheck/klava-Ex\.R

klava\.Rcheck/klava-Ex\.Rout

klava\.Rcheck/klava-manual\.log

klava\.Rcheck/klava-manual\.pdf

klava\.Rcheck/klava/dat/2cmtA\.RDS

klava\.Rcheck/klava/DESCRIPTION

klava\.Rcheck/klava/help/aliases\.rds

klava\.Rcheck/klava/help/AnIndex

klava\.Rcheck/klava/help/klava\.rdb

klava\.Rcheck/klava/help/klava\.rdx

klava\.Rcheck/klava/help/paths\.rds

klava\.Rcheck/klava/html/00Index\.html

klava\.Rcheck/klava/html/R\.css

klava\.Rcheck/klava/INDEX

klava\.Rcheck/klava/Meta/features\.rds

klava\.Rcheck/klava/Meta/hsearch\.rds

klava\.Rcheck/klava/Meta/links\.rds

klava\.Rcheck/klava/Meta/nsInfo\.rds

klava\.Rcheck/klava/Meta/package\.rds

klava\.Rcheck/klava/Meta/Rd\.rds

klava\.Rcheck/klava/NAMESPACE

klava\.Rcheck/klava/R/klava

klava\.Rcheck/klava/R/klava\.rdb

klava\.Rcheck/klava/R/klava\.rdx

klava\.Rcheck/klava/script/data\.R

klava\.Rcheck/Rdlatex\.log

klava\.Rcheck/tests/startup\.Rs

klava\.Rcheck/tests/testthat\.R

klava\.Rcheck/tests/testthat\.Rout\.fail

klava\.Rcheck/tests/testthat/test-parset\.R
